*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Monserrat", sans-serif;
    background-image: linear-gradient(315deg, #4741f2 0%, #90d1f9 75%);
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 1000px;
    height: 600px;
}
.info {
    text-align: center;
    font-size: 30px;
}
.info h1 {
    margin-bottom: 10px;
    font-size: 60px;
}
.ball-img {
    position: relative;
    height: 250px;
}
.ball-img img {
    position: absolute;
    top: 30px;
    left: 300px;
    width: 300px;
    cursor: pointer;
}

.question-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 24px;

}

.question-area label {
    margin-bottom: 10px;
    font-size: 36px;
    text-transform: uppercase;
  
}

.question-area input {
    padding: 10px 20px;
    width: 80%;
    font-size: 20px;
    border: 2px solid #333;
    border-radius: 4px;
}

.question-area .answer {
   
    margin-top: 30px;
    color: #bbe6fd;
    
    
}

.question-area .answer span {
    font-weight: bold;
}

.question-area .error {
    
    font-weight: bold;
    color: #a42cb4;
    
    
}

.shake {
    animation: shake 1s ; 
}
@keyframes shake {
    0% {
        left: 290px;
    }
    20% {
        left: 340px;
    }
    40% {
        left: 290px;
    }
    60% {
        left: 340px;
    }
    80% {
        left: 290px;
    }
    100% {
        left: 300px;
    }
    
}

.show{
    animation: show 10s;
}
@keyframes show {
    0% {
        display: none;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}